main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "portrait"
    "about"
    "gallery";
}
.portrait {
  grid-area: portrait;
  background: url("../../img/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 752px;
  position: relative;
}
.portrait__overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
.portrait__title {
  position: absolute;
  top: 195px;
  left: 161px;
  max-width: 540px;
  font-family: "Love Ya Like A Sister";
}
.portrait__h2 {
  position: absolute;
  top: 385px;
  left: 161px;
  max-width: 540px;
  font-weight: normal;
}
.portrait__img {
  max-width: 450px;
  max-height: 425px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 250px;
  right: 40px;
  border: solid 1px #fc6161;
  border-radius: 10px 0 10px 0;
}
.about {
  grid-area: about;
  width: 80%;
  margin: auto;
}
.about__p {
  color: black;
  margin: 20px auto;
}
.about__imgContainer {
  max-width: 800px;
  margin: auto;
}
.about__img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.gallery {
  grid-area: gallery;
}
.gallery__p {
  margin: 0 70px 20px;
  color: black;
}
.gallery__cover {
  display: grid;
  grid-template-areas:
    "photo1 photo2 photo3"
    "photo1 photo4 photo4";
  grid-gap: 2rem;
  width: 80%;
  margin: 50px auto;
}
.photo1 {
  grid-area: photo1;
}
.photo2 {
  grid-area: photo2;
  max-height: 317px;
}
.photo3 {
  grid-area: photo3;
  max-height: 317px;
}
.photo4 {
  grid-area: photo4;
  max-height: 289px;
}
.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover {
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 1200px) {
  .portrait__img {
    max-width: 385px;
    max-height: 425px;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 250px;
    right: 40px;
    border: solid 1px #fc6161;
    border-radius: 10px 0 10px 0;
  }
  .portrait__title {
    position: absolute;
    top: 195px;
    left: 60px;
    max-width: 540px;
    font-family: "Love Ya Like A Sister";
  }
  .portrait__h2 {
    position: absolute;
    top: 385px;
    left: 60px;
    max-width: 540px;
    font-weight: normal;
  }
}
@media (max-width: 991px) {
  .portrait {
    grid-area: portrait;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    height: 655px;
    position: relative;
  }
  .portrait__img {
    display: none;
  }
  .portrait__title {
    position: absolute;
    top: 240px;
    left: 100px;
    max-width: 540px;
    font-family: "Love Ya Like A Sister";
  }
  .portrait__h2 {
    position: absolute;
    top: 430px;
    left: 100px;
    max-width: 800px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .portrait {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    height: 520px;
    position: relative;
  }
  .portrait__title {
    position: absolute;
    top: 125px;
    left: 20px;
    max-width: 540px;
    font-family: "Love Ya Like A Sister";
    padding: 10px;
  }
  .portrait__h2 {
    position: absolute;
    top: 250px;
    left: 20px;
    max-width: 550px;
    font-weight: normal;
    padding: 10px;
  }
}
