main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "portrait"
    "info"
    "experience"
    "gallery"
    "reply"
    "comments";
}
.portrait {
  grid-area: portrait;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 752px;
  position: relative;
}

.portrait__overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
.portrait__title {
  position: absolute;
  top: 195px;
  left: 161px;
  width: 540px;
  font-family: "Love Ya Like A Sister";
}
.portrait__h2 {
  position: absolute;
  top: 385px;
  left: 161px;
  width: 540px;
  font-weight: normal;
}
.portrait__img {
  max-width: 582px;
  max-height: 425px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 250px;
  left: 750px;
  border: solid 1px #fc6161;
  border-radius: 10px 0 10px 0;
}
.info {
  grid-area: info;
}
.info__desc {
  width: 90%;
  margin: auto;
}
.info__p {
  color: black;
  margin: 20px;
}
.info__location {
  text-align: end;
  width: 80%;
  margin: 20px auto;
}
.info__icon {
  font-size: 2.4rem;
  color: #fc6161;
}
.info__span {
  font-size: 2.4rem;
  margin-left: 10px;
}
.line {
  background: black;
  height: 1px;
  width: 90%;
  margin: 20px auto;
}
.myExperience {
  grid-area: experience;
}
.myExperience__cover {
  width: 90%;
  margin: auto;
  display: flex;
}

.myExperience__img {
  max-width: 400px;
  max-height: 400px;
  padding: 30px 20px;
  object-fit: cover;
  object-position: center center;
}
.myExperience__allWeeks {
  padding: 20px;
}
.myExperience__week {
  margin: 15px;
}
.myExperience__weekTitle {
  margin: 10px 0;
  color: black;
}
.myExperience__p {
  color: black;
}
.myExperience__conclusion {
  width: 90%;
  margin: 20px auto;
}
.gallery {
  grid-area: gallery;
}
.gallery__p {
  width: 90%;
  margin: 0 70px 20px;
  color: black;
}
.gallery__cover {
  display: grid;
  grid-template-areas:
    "photo1 photo2 photo3"
    "photo1 photo4 photo4";
  grid-gap: 2rem;
  width: 80%;
  margin: 50px auto;
}
.photo1 {
  grid-area: photo1;
}
.photo2 {
  grid-area: photo2;
  max-height: 317px;
}
.photo3 {
  grid-area: photo3;
  max-height: 317px;
}
.photo4 {
  grid-area: photo4;
  max-height: 289px;
}
.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover {
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.reply {
  grid-area: reply;
}
.reply__cover {
  width: 80%;
  margin: 20px auto;
}
.reply__textCover {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.reply__label {
  font-size: 2.4rem;
  color: #505943;
}
.reply__textbox--textarea {
  height: 236px;
}
.reply__textbox {
  margin: 10px 0;
  min-height: 30px;
  border-radius: 10px;
  border: solid 1px #505943;
}
.reply__cover--submit {
  max-width: 220px;
}
.reply__submit {
  border-radius: 50px;
  border: none;
  background-color: #fc6161;
  font-size: 2.4rem;
  padding: 10px 20px;
  color: white;
}
.comments {
  grid-area: comments;
}
.comments__cover {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: solid 2px #fc6161;
  border-radius: 10px;
}
.comments__imgBox {
  width: 30%;
  display: flex;
  align-items: top;
  justify-content: center;
  color: #fc6161;
}
.comments__icon {
  font-size: 90px;
}
.comments__name {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fc6161;
  margin: 5px 0;
}
.comments__dataPost {
  font-size: 1.6rem;
  color: black;
}
.comments__text {
  margin: 21px 0;
  color: black;
  font-size: 2.2rem;
}
.modal__container {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: black;
}
.modal__windows {
  width: 800px;
  height: 800px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center center;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@media (max-width: 1200px) {
  .portrait__img {
    max-width: 385px;
    max-height: 425px;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 250px;
    left: 750px;
    border: solid 1px #fc6161;
    border-radius: 10px 0 10px 0;
  }
}
@media (max-width: 991px) {
  .portrait {
    grid-area: portrait;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    height: 700px;
    position: relative;
  }
  .portrait__img {
    display: none;
  }
  .portrait__title {
    position: absolute;
    top: 240px;
    left: 100px;
    width: 540px;
    font-family: "Love Ya Like A Sister";
  }
  .portrait__h2 {
    position: absolute;
    top: 430px;
    left: 100px;
    width: 800px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .portrait {
    grid-area: portrait;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 123%;
    height: 600px;
    position: relative;
  }
  .portrait__title {
    position: absolute;
    top: 125px;
    left: 100px;
    width: 540px;
    font-family: "Love Ya Like A Sister";
  }
  .portrait__h2 {
    position: absolute;
    top: 280px;
    left: 100px;
    max-width: 550px;
    font-weight: normal;
  }
  .myExperience__cover {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .myExperience__img {
    max-width: 100%;
    height: 400px;
    padding: 30px 20px;
    object-fit: cover;
    object-position: center center;
  }
}
