header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.logo {
  padding: 10px;
  align-self: center;
  position: relative;
  left: 20px;
  width: 182px;
  height: 81px;
}
.logo--title {
  font-size: 5.2rem;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
  color: #fc6161;
}
.logo--sub {
  font-size: 2.9rem;
  font-family: "Caveat", cursive;
  color: white;
  position: relative;
  bottom: 20px;
}
.searchBar {
  align-self: center;
  position: relative;
  left: 100px;
}
.searchBar__dataContainer {
  display: flex;
  justify-content: space-between;
}
.searchBar__input {
  border: none;
  max-width: 180px;
  font-size: 2rem;
  background: none;
}
.searchBar__btn {
  background: none;
  border: none;
}
.searchBar__icon {
  color: white;
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.searchBar__icon:hover {
  color: #fc6161;
  transition: all 0.4s ease;
}
.searchBar__line {
  height: 2px;
  width: 235px;
  background: white;
  margin-top: 5px;
}
.searchBar__line:hover {
  background: #fc6161;
  transition: all 0.4s ease;
}
.nav__conatiner {
  position: relative;
  border: solid 1px white;
}
.menu__icon {
  display: none;
}
.menu__checkbox {
  display: none;
}

nav {
  align-self: center;
  position: relative;
}
.nav__ul {
  display: flex;
}
.nav__close {
  display: none;
}
.nav__li {
  min-width: 150px;
  list-style: none;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.nav__link:hover {
  color: #cecbaf;
}
.active {
  position: relative;
  color: #fc6161;
}
.active::before {
  content: "";
  height: 2px;
  width: 100%;
  top: 25px;
  background: #fc6161;
  position: absolute;
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .logo {
    padding: 10px;
    align-self: center;
    position: relative;
    left: 5px;
    width: 182px;
    height: 81px;
  }
  .searchBar {
    align-self: center;
    position: relative;
    left: 0px;
  }
  .searchBar__input {
    border: none;
    max-width: 140px;
    font-size: 2rem;
    background: none;
  }
  .nav__container {
    position: relative;
    right: 20px;
  }
  .menu__icon {
    color: white;
    display: block;
    font-size: 4rem;
    top: 0;
    left: 700px;
  }
  /* .menu__checkbox:checked ~ nav {
    display: block;
  } */

  /* nav {
    display: none;
  } */
  .nav__ul {
    border: solid 2px #fc6161;
    position: fixed;
    width: 264px;
    height: 250px;
    right: 0;
    top: 88px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 0 10px 0;
  }
  .nav__li {
    min-width: 100px;
    list-style: none;
    text-align: center;
    margin: 15px 0;
    position: relative;
    top: 60px;
  }
  .nav__close {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 3.3rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    left: 213px;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .nav__closeIcon {
    text-align: center;
  }
}
