header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  max-width: 1440px;
  justify-content: space-around;
}

.logo {
  grid-area: logo;
  padding: 10px;
  align-self: center;
  width: 182px;
  height: 81px;
}
.logo--title {
  font-size: 5.2rem;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
  color: #fc6161;
}
.logo--sub {
  font-size: 2.9rem;
  font-family: "Caveat", cursive;
  color: white;
  position: relative;
  bottom: 20px;
}
.searchBar {
  grid-area: searchbar;
  align-self: center;
}
.searchBar__dataContainer {
  display: flex;
  justify-content: space-between;
}
.searchBar__input {
  border: none;
  max-width: 180px;
  font-size: 2rem;
  background: none;
}
.searchBar__btn {
  background: none;
  border: none;
}
.searchBar__icon {
  color: white;
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.searchBar__icon:hover {
  color: #fc6161;
  transition: all 0.4s ease;
}
.searchBar__line {
  height: 2px;
  width: 235px;
  background: white;
  margin-top: 5px;
}
.searchBar__line:hover {
  background: #fc6161;
  transition: all 0.4s ease;
}
.nav__container {
  grid-area: menu;
  width: 400px;
}
.menu__icon {
  display: none;
}
.menu__checkbox {
  display: none;
}

nav {
  align-self: center;
  /* position: relative; */
  /* max-width: 322px; */

  padding-right: 15px;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__close {
  display: none;
}
.nav__li {
  max-width: 150px;
  margin: 10px;
  list-style: none;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.nav__link:hover {
  color: #cecbaf;
}
.active {
  position: relative;
  color: #fc6161;
}
.active::before {
  content: "";
  height: 2px;
  width: 100%;
  top: 25px;
  background: #fc6161;
  position: absolute;
}

@media (max-width: 1200px) {
  /*Desktop*/
}
@media (max-width: 991px) {
  .searchBar {
    align-self: center;
  }
  .searchBar__icon {
    color: white;
    height: 25px;
    width: 25px;
    font-size: 25px;
  }
  .searchBar__line {
    height: 2px;
    width: 180px;
    background: white;
    margin-top: 5px;
  }
  .searchBar__input {
    border: none;
    max-width: 140px;
    font-size: 2rem;
    background: none;
  }
  nav {
    padding: 0;
    width: 100%;
  }
  /* .nav__container {
    position: absolute;
    right: 5px;
    left: 505px;
  }

  .nav__li {
    min-width: 110px;
    list-style: none;
    text-align: center;
  } */
  .nav__container {
    padding: 10px;
    width: 30px;
  }
  .menu__icon {
    color: white;
    display: block;
    font-size: 4rem;
    text-align: center;
  }
  /* .menu__checkbox:checked ~ nav {
    display: block;
  } */

  nav {
    display: none;
  }
  .nav__ul {
    border: solid 2px #fc6161;
    position: fixed;
    width: 230px;
    height: 250px;
    right: 26px;
    top: 106px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 0 10px 0;
    /* padding: 79px; */
    /* vertical-align: 3px; */
    margin: auo;
    /* padding: 10px; */
    justify-content: space-evenly;
    /* margin: 0; */
  }
  .nav__li {
    min-width: 100px;
    list-style: none;
    text-align: center;
    margin: 15px 0;
    position: relative;
  }
  .nav__close {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 3.3rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    left: 195px;
    top: 0;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .nav__closeIcon {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .logo {
    padding: 10px;
    align-self: center;
    width: 130px;
    height: 60px;
  }
  .logo--title {
    font-size: 3.6rem;
    font-family: "Love Ya Like A Sister", cursive;
    text-align: center;
    color: #fc6161;
  }
  .logo--sub {
    font-size: 2.1rem;
    font-family: "Caveat", cursive;
    color: white;
    position: relative;
    bottom: 10px;
  }
  .searchBar {
    align-self: center;
  }
  .searchBar__input {
    border: none;
    max-width: 85px;
    font-size: 2rem;
    background: none;
  }
  .searchBar__line {
    height: 2px;
    width: 110px;
    background: white;
    margin-top: 5px;
  }
  .nav__container {
    padding: 10px;
    width: 30px;
  }
  .menu__icon {
    color: white;
    display: block;
    font-size: 4rem;
    text-align: center;
  }
  /* .menu__checkbox:checked ~ nav {
    display: block;
  } */

  nav {
    display: none;
  }
  .nav__ul {
    border: solid 2px #fc6161;
    position: fixed;
    width: 230px;
    height: 250px;
    right: 0;
    top: 106px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 0 10px 0;
    /* padding: 79px; */
    /* vertical-align: 3px; */
    margin: auo;
    /* padding: 10px; */
    justify-content: space-evenly;
    /* margin: 0; */
  }
  .nav__li {
    min-width: 100px;
    list-style: none;
    text-align: center;
    margin: 15px 0;
    position: relative;
  }
  .nav__close {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 3.3rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    left: 195px;
    top: 0;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .nav__closeIcon {
    text-align: center;
  }
}
