@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Love+Ya+Like+A+Sister&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Caveat', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Roboto', sans-serif; */

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1440px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header {
  grid-area: header;
  height: 110px;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-areas:
    "portrait portrait"
    "latest latest"
    "top about"
    "destinations destinations";
}
.portrait {
  grid-area: portrait;
}
.latest-post {
  grid-area: latest;
}
.top-destinations {
  grid-area: top;
}
.about {
  grid-area: about;
}
.destinations-countries {
  grid-area: destinations;
}
footer {
  grid-area: footer;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.6rem;
  margin: 40px 70px;
}
h4 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
p {
  font-size: 1.8rem;
}
