@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Love+Ya+Like+A+Sister&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Caveat', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Roboto', sans-serif; */

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1440px;
  margin: auto;
}

header {
  grid-area: header;
  height: 110px;
  width: 100%;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas:
    "logo links social"
    "rights rights rights";
  width: 100%;
}
.logo {
  grid-area: logo;
}
.links {
  grid-area: links;
}
.social {
  grid-area: social;
}
.rights {
  grid-area: rights;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.6rem;
  margin: 40px 70px;
}
h4 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
p {
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "portrait"
      "latest"
      "top"
      "about"
      "destinations";
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.2rem;
    margin: 40px 70px;
    text-align: center;
  }

  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:
      "logo social"
      "links links"
      "rights rights";
    width: 100%;
  }
  .logo {
    grid-area: logo;
  }
  .links {
    grid-area: links;
  }
  .social {
    grid-area: social;
  }
  .rights {
    grid-area: rights;
  }
}
